@import 'mainColor';

#container{
    #steps{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 46px;
        span.line{
            width: 100px;
            height: 6px;
            background-color: #E5E7EB;
            align-self: center;
            border-radius: 50px;
        }
        span.number{
            width: 34px;
            height: 34px;
            background-color: #E5E7EB;;
            border-radius:100% ;
            display: flex;
            justify-content: center;
            align-items: center;
            &:nth-child(1){
                background-color: $orange;
                color: white;
            }

        }
    }
}